**/__pycache__
desktop.ini
.specstory
INTEGRATION_SUMMARY.md
WEB_UI_IMPLEMENTATION_COMPLETE.md
EXTERNAL/REC_continuous_video_recorder
EXTERNAL/EXAMPLE_REPOS/DoubleCameraRecording
EXTERNAL/EXAMPLE_REPOS/pyqt5_camera_new
EXTERNAL/EXAMPLE_REPOS/mqtt-camera-streamer
continuous_video_recorder.egg-info/dependency_links.txt
continuous_video_recorder.egg-info/PKG-INFO
continuous_video_recorder.egg-info/requires.txt
continuous_video_recorder.egg-info/SOURCES.txt
continuous_video_recorder.egg-info/top_level.txt
recordings/*.mp4
.cursorindexingignore.bak
.cursorindexingignore
**/*.egg-info
_manual_verify_recordings/CAM_2026-06-22T185641.mkv
_manual_verify_recordings/CAM_2026-06-22T185641.mkv.timing.json
_manual_verify_recordings/CAM_2026-06-22T185641.wav
